<strong>Confirmar conta</strong>

<strong>Olá {{ name }}!!</strong>
<p>Ficamos feliz que você criou uma conta no The Greatest Lottery</p>
<p>Para confirmar a conta basta clicar no link abaixo</p>

<a href="{{link}}">Confirmar conta</a>
